*{
    margin:0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #01e19f;
    padding: 2rem;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar .icons{
    width: 10rem;
    display: flex;
    justify-content: flex-end;
}

div.navbar div.icons svg{
    margin-right: 1.5rem;
}

div.perfil{
    background-color: #00d9d2;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    width: 15rem;
}

div.perfil div#iconPerfil{
    width: 15rem;
}

.perfil #tituloAdmin{
    background-color: red;
    border-radius: .5rem;
    padding: .3rem;
    display: inline;
    border: 2px solid black;
}

.perfil #tituloVip{
    background-color: crimson;
    border-radius: .5rem;
    padding: .3rem;
    display: inline;
    border: 2px solid black;
}

.perfil #tituloMembro{
    background-color: green;
    border-radius: .5rem;
    padding: .3rem;
    display: inline;
    border: 2px solid black;
}

div.perfil div.titulos{
    display: flex;
    justify-content: space-between;
}

.perfil .nomePerfil{
    display: flex;
    justify-content: space-between;
}

.btnSubmit{
    background-color: #0077ff;
    border: 1px solid gray;
    border-radius: .3rem;
    padding: .2rem;
}

.dropdownPerfil{
    box-shadow: 1px 1px 15px 1px;
    width: 9rem;
    text-align: center;
    height: 4rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: white;
    margin-top: -1rem;
}

.dropdownNotifications{
    box-shadow: 1px 1px 15px 1px;
    width: 9rem;
    text-align: center;
    height: 4rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: white;
    margin-left: 5rem;
    margin-top: -1rem;
}

.dropdownPerfil a{
    text-decoration: none;
    color: black;
}

div.body{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.separador{
    width: 100%;
    height: 0.1rem;
    background-color: gray;
}

.dropdowns{
    width: 24rem;
    display: flex;
    justify-content: space-between;
}

.posts{
    width: 100%;
    height: 10rem;
    margin-left: 3rem;
    border-radius: .5rem;
}

div.sugestoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div.sugestao{
    display: flex;
    justify-content: space-between;
}

div.cardPost{
    width: 100%;
    margin-left: 3rem;
    border-radius: .5rem;
    background-color: gray;
    min-width: 30rem;
    padding-bottom: 1rem;
}
div.userPost{
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

div.userPost svg{
    margin-top: 1rem;
}

div.userPost a{
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    margin-top: 1rem;
}

div.contentPost{
    display: flex;
    justify-content: space-between;
    margin-left: 6rem;
    margin-top: -1rem;
}